block main
    link(rel='stylesheet', href='/styles/about-style.css')
    .WorkStation.HomeViewParallax.XLargeCover
    .main.u-textCenter.u-position.textOnImg
        .CenterTitle.centerSnug.marginTop
            h1 EcaKnowGames 
            p EcaKnowGames range from educational to organizational to creative to just plain fun. Look for the following EcaKnowGames Apps on the iTunes app store: Red Treasure, Magic Order, CJ Schedule, The Gas Laws, Photo Picasso, and RoShamBo TicTacToe.
        h1.strong Meet the Team 
        .TeamContainer
            .PersonContainer.centerSnug
                div.PersonView.GabyView
                p.personDescription #[i Gabrielle Ecanow] is the founder of  EcaKnowGames and an app developer since August 2015. Her knowledge of programming languages include Python, Java, C# (Unity) and Swift (Xcode). She is a WWDC 2017 and 2018 Scholar.
            .PersonContainer.centerSnug
                div.PersonView.EliView
                p.personDescription #[i Elijah Ecanow] is a User Experience Design undergraduate student at the University of Michigan, Ann Arbor, in the selective School of Information, with an anticipated graduation date of May, 2022. Elijah recently joined EcaKnowGames as the Chief Information Officer and looks forward to utilizing his UX/UI Design skills in his role as a consultant.
