block main
    link(rel='stylesheet', href='/styles/apps-style.css')
    div.WorkStation.HomeViewParallax.XLargeCover
    div.main.u-textCenter.u-position.textOnImg
        div.CenterTitle.centerSnug
            h1 EcaKnowGames
            p featured apps
        include ./mixins/_appDetail
        include ./mixins/_appMainIcon
        include apps_store
        script.
            function appClick(app_id) {
                const current_html = document.getElementById("app_detail").innerHTML;
                const target_html = document.getElementById(app_id).innerHTML;
                const output_html = current_html === target_html ? "" : target_html;
                document.getElementById("app_detail").innerHTML = output_html;
            }
        .AppsContainer
            each app in apps
                +appMainIcon(app)
        div(class="hide")
            each app in apps
                +appDetail(app)
        div(id="app_detail")