block main
    link(rel='stylesheet', href='/styles/apps-style.css')
    include ./mixins/_appDetail
    include ./mixins/_appMainIcon
    include apps_store
    .WhiteBar.WorkStation.HomeViewParallax.SmallCover
        .CenterTitle.centerSnug.marginTop
            h1 EcaKnowGames
            p featured apps
        script.
            function appClick(app_id) {
                const curr_display = document.getElementById(`${app_id}-detail`).style.display;

                // hide all descriptions just in case
                document.querySelectorAll('[id$="-detail"]').forEach((caret) => {
                    caret.style.display = "none";
                });

                // reveal / hide the app description
                document.getElementById(`${app_id}-detail`).style.display = (curr_display === "block") ? "none" : "block";


                // hide all caret pointers just in case
                document.querySelectorAll('[id$="-caret"]').forEach((caret) => {
                    caret.style.visibility = "hidden";
                });

                // reveal / hide the caret pointer
                const output_caret = (curr_display === "block") ? "hidden" : "visible";
                document.getElementById(`${app_id}-caret`).style.visibility = output_caret;
            }
        .AppsContainer
            each app in apps
                +appMainIcon(app)
        div
            each app in apps
                +appDetail(app)
        div(id="app_detail")
        a(href="https://itunes.apple.com/us/developer/ecaknowgames-llc/id1029592340" target="_blank" rel="noopener noreferrer").AppStoreLink Visit EcaKnowGames on the App Store