block code
    -
        const px2 = {
            id: "player_x2",
            name: "Player X2",
            style_id: "AI",
        };
        const gl = {
            id: "gas_laws",
            name: "The Gas Laws",
            style_id: "GasLaws",
        };
        const mo = {
            id: "magic_order",
            name: "Magic Order",
            style_id: "Magic",
        };
        const rt = {
            id: "red_treasure",
            name: "Red Treasure",
            style_id: "Red",
        };
        const pp = {
            id: "photo_picasso",
            name: "Photo Picasso",
            style_id: "Photo",
        };
        const ttt = {
            id: "rsb_ttt",
            name: "RoShamBo TicTacToe",
            style_id: "TTT",
        };
        const cj = {
            id: "cj_schedule",
            name: "CJ Schedule",
            style_id: "CJ",
        };
        const apps = [px2, gl, mo, rt, pp, ttt, cj];