block main
    link(rel='stylesheet', href='/styles/apps-style.css')
    div.CoffeeShop.HomeView
    div.main.u-textCenter.u-position.textOnImg
        div.CenterTitle.centerSnug
            h1 EcaKnowGames
            p featured apps
        script.
            var appToShow = "";
            function testClick(name) {
                appToShow = name;
                //- const o = document.getElementById("app_detail").style.visibility;
                //- console.log(o);
                //- document.getElementById("app_detail").style.visibility = "hidden";
            }
        include ./mixins/_appDetail
        include ./mixins/_appMainIcon
        include apps_store
        .AppsContainer
            each app in apps
                +appMainIcon(app)
        div(id="app_detail")
            - console.log(appToShow);
            +appDetail(appToShow)