block main
    .main.u-textCenter.u-position.textOnImg
        h1 EcaKnowGames 
        p select features
    link(rel='stylesheet', href='/styles/features-style.css')
    include ./mixins/_articleFeature.pug
    .MainFeatureBackground.MainFeatureImg
        .MainFeatureDescriptionBox
            h3.MainFeaturePreTitle Meet The Developer 
            h1.MainFeatureTitle Problem Solved
            p.MainFeatureDescription How 18-year-old Gabrielle Ecanow became a prolific app creator.
            a(href="https://itunes.apple.com/us/story/id1435962393" target="_blank" rel="noopener noreferrer").MainFeatureDescription Click here to read more.
    .centerSnug
        each feature in features 
            +articleFeature(feature)
    .MainFeatureBackground.PostFeatureImg