block main
    .WorkStation.HomeViewParallax.SmallCover
    .main.u-textCenter.u-position.textOnImg
        .CenterTitle
            h1 EcaKnowGames 
            p An App Development Company
    .AsFeaturedInBox
        .FlexRow
            p As featured in
            vl.SmallVerticalBar
            .FlexImgBox
                img(src= "../img/features/apple_insider.png").FeatureImg.bubbleIcon
                img(src="../img/features/mac_rumors.png").FeatureImg.bubbleIcon
                img(src="../img/features/maclife.png").FeatureImg.bubbleIcon
                img(src="../img/features/Refinery29_logo.svg.png").FeatureImg.bubbleIcon
                img(src="../img/features/tc.png").FeatureImg.bubbleIcon