block main
    div.View.HomeView
    div.main.u-textCenter.u-position.textOnImg
        h2 EcaKnowGames 
        p An App Development Company
//-     div.NavButtons
//-       a(href="/user")
//-           div.NavButton Just dive in!