block main
    .WorkStation.HomeViewParallax.SmallCover
    .main.u-textCenter.u-position.textOnImg
        .CenterTitle
            h1 EcaKnowGames 
            p An App Development Company
    .BlackBar 
        .TopLeftIntro 
            p #[i What people are saying...]
        .BasicFlexRow
            .QuoteBox 
                p “This is quite literally the single greatest game I have ever played.”
                p —  Jabuklaflock, #[i on Red Treasure]
            vl.SmallVerticalBar
            .QuoteBox 
                p “I am usually late for class, but with the help of [CJ Schedule] I am able to know what class I have next and what time it starts. This allows me to be better prepared.”​
                p — Anonymous, #[i on CJ Schedule]
            vl.SmallVerticalBar
            .QuoteBox 
                p “Great game! Super addicting and fun!”​
                p —  akr4500, #[i on Red Treasure]
    .WhiteBar.WorkStation.HomeViewParallax.XSmallCover
        a(href="https://itunes.apple.com/us/developer/ecaknowgames-llc/id1029592340") Visit EcaKnowGames on the App Store
    .AsFeaturedInBox
        .FlexRow
            p Apps featured in
            vl.SmallVerticalBar
            .FlexImgBox
                img(src= "../img/features/apple_insider.png").FeatureImg.bubbleIcon
                img(src="../img/features/mac_rumors.png").FeatureImg.bubbleIcon
                img(src="../img/features/maclife.png").FeatureImg.bubbleIcon
                img(src="../img/features/Refinery29_logo.svg.png").FeatureImg.bubbleIcon
                img(src="../img/features/tc.png").FeatureImg.bubbleIcon