extends layout

block layout-content
    include navbar
    div.App-container
        if title == "home"
            include home 
        else if title == "about"
            include about
        else if title == "apps"
            include apps
        else if title == "features"
            include features
        else if title == "contact"
            include contact
        include pagebottom