block navigation
    .sticky 
        .Navbar-container.u-flex
            .Navbar-titleBox
                a(href=`/`).Navbar-navTitle
                    h1.Navbar-navTitle Eca
                    h1.Navbar-navTitle Know
                    h1.Navbar-navTitle Games
            section.u-flex.Navbar-menu
                a(href=`/`).Navbar-navTitle
                    button.Navbar-subContainer Home
                a(href=`/about`).Navbar-navTitle
                    button.Navbar-subContainer About
                a(href=`/apps`).Navbar-navTitle
                    button.Navbar-subContainer Apps
                a(href=`/features`).Navbar-navTitle
                    button.Navbar-subContainer Features
                a(href=`/contact`).Navbar-navTitle
                    button.Navbar-subContainer Contact
