block pagebottom
    div.Bottombar-container
        div.Bottombar-subcontainer
            a(href=`/`).Navbar-navTitle
                h1.Navbar-navTitle Eca
                h1.Navbar-navTitle Know
                h1.Navbar-navTitle Games
            p.u-halfWidth EcaKnowGames is an app development company founded in 2015. Based in northern Illinois, the company focuses on creating all different kinds of apps. Be sure to stay tuned for EcaKnowGames' newest creations, coming soon to the app store! #[a(href=`/about`).Bottombar-link Read More] 
            div.Bottombar-rowContainer
                p © 2018 by EcaKnowGames
                a(href=`/contact`).Bottombar-link admin@ecaknowgames.com