mixin appMainIcon(app)
    link(rel='stylesheet', href='/styles/apps-style.css')
    a(onclick=`appClick("${app.id}")`).bubbleIcon
        p.IconNameView #{app.name}
        .IconView(class=`${app.style_id}Icon`)