/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Stored variables*/
:root {
    --primary: #396dff;
    --grey: #f7f7f7;
    --dark-grey: #acabab;
    --white: #fff;
    --background: #000;

    --xs: 4px;
    --s: 8px;
    --m: 16px;
    --m-plus: 20px;
    --l: 24px;
    --xl: 32px;

    --home-font-size: 20px;
    --upper-bar-size: 80px;
    --lower-bar-size: 250px;
}

/* All */
html,
body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

button {
    all: revert;
    display: inline-block;
    border: none;
    padding: var(--m);
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

a {
    cursor: pointer;
}

button:hover,
button:focus {
    font-size: var(--m-plus);
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.hiddenIcon { opacity: 0%; }
.hiddenIcon:hover { opacity: 100%; }

.fadeIcon { opacity: 100%; }
.fadeIcon:hover { opacity: 70%; }

.bubbleIcon { transition: all 0.1s ease-out; }
.bubbleIcon:hover { transform: scale(1.2); }
.bubbleIcon:link { text-decoration: none!important; }

.hide { display: none; }
.show { display: block; }

.pad {
    padding-left: 10px;
    padding-right: 10px;
}

/* Defined u */

.u-textCenter {
    text-align: center;
}

.u-flex {
    display: flex;
}

.u-position {
    position: absolute;
}

.u-halfWidth {
    width: 50%;
}

/* Defined u */

.main {
    color: var(--background);
    position: relative;
    margin: 0px;
}

.textOnImg {
    left: 0;
    position: absolute;
    top: 30px;
    width: 100%;
    font-weight: 800;
}

.imgFill {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    padding: 0px;
}

.bottom {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    background-color: var(--background);
    position: relative;
    color: var(--white);
    margin-top: 500px;
}

/* Views */

/* Free to use (CC0): https://www.pexels.com/photo/computer-cup-desk-drink-434337/ */
.WorkStation { background: url("../img/work.jpg") center center; }

.HomeView {
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    padding: 0px;
}

.HomeViewParallax {
    background-size: cover;
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    padding: 0px;

    /* Create the parallax scrolling effect (https://www.w3schools.com/howto/howto_css_parallax.asp) */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.XLargeCover { height: 120vh; }
.LargeCover { height: 100vh; }
.SmallCover { height: 500px; }
.XSmallCover { height: 250px; }

/* Navigation */

.sticky {
    position: sticky;
    top: 0;
    z-index: 11000 !important;
}

.Navbar-navTitle {
    color: var(--white);
    font-size: var(--home-font-size);
    line-height: 4px;
    text-decoration: none;
}

.Navbar-titleBox {
    padding: var(--s);
}

.Navbar-container {
    background-color: var(--background);
    height: var(--upper-bar-size);
    margin: 0px;
    justify-content: start;
}

.Navbar-subContainer {
    flex-basis: auto;
    flex-grow: 1;
    font-size: var(--m);
    max-width: 100px;
    height: var(--xl);
    margin: var(--s) var(--m);
    text-align: center;
    line-height: 0px;
    border-radius: var(--xs);
    background-color: var(--background);
    color: var(--white);
}

.Navbar-menu {
    justify-content: flex-end;
    align-items: flex-end;
    align-content: space-around;
    width: 100%;
    color: var(--white);
}

.Bottombar-container {
    background-color: var(--background);
    height: fit-content; 
    /* var(--lower-bar-size); */
    margin: 0px;
    justify-content: start;
}

.Bottombar-subcontainer {
    height: var(--lower-bar-size);
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--white);
}

.Bottombar-rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Bottombar-link {
    color: var(--white);
}

.App-container {
    transform:translateY(0); /*var(--upper-bar-size));*/
}

.CenterTitle {
    display: inline-block;
    margin: auto;

    width: fit-content;
    max-height: fit-content;
    height: fit-content;
    text-align: center;
    /* background-color: gray; */

    /* border: 1px solid black; */
    /* border-radius: 2px; */
    padding: 10px;
    margin-top: 150px;

    overflow-wrap: normal;
    text-overflow: clip;
}

/* Home Styles */

.FlexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 60%;
}

.AsFeaturedInBox {
    width: 100%;
    height: 350px;
    background-color: white;
}

.SmallVerticalBar {
    border: 0.2px solid grey;
    height: 50px;
}

/* Feature Pics  */

.AppleInsider { src: url("../img/features/apple_insider.png");}
.MacRumors { src: url("../img/features/mac_rumors.png");}
.Maclife { src: url("../img/features/maclife.png");}
.Refinery29 { src: url("../img/features/Refinery29_logo.svg.png");}
.TC { src: url("../img/features/tc.png");}
.Twitter { background: url("../img/features/twitter.jpg") center center;} /* Used in featured articles */

.FeatureImg {
    display: block;
    object-fit: scale-down;
    width: 150px;
    padding: 5px;
}

.FlexImgBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 600px;
    height: 100%;
    gap: 20px;
}

/* Home Promo  */

.BasicFlexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 90%;
    margin: auto;
}

.TopLeftIntro {
    color: white;
    padding-top: 10px;
    padding-left: 40px;
}

.QuoteBox { 
    width: 30%; 
    color: white;
    font-weight: 900;
}

.BlackBar {
    width: 100%;
    height: fit-content;
    background-color: black;
}

.WhiteBar {
    width: 100%;
    /* height: fit-content; */
    background-color: white;
    display: inline-block;
    margin: auto;
    text-align: center;
    font-size: xx-large;
    padding-top: 200px;
}